@charset "UTF-8";
body.shedule_popup {
  overflow: hidden;
}
body.shedule_popup .gym_shedule_popup {
  display: block;
}
body.shedule_popup .gym_shedule_popup.auth [data-step=event_details] {
  display: none;
}
body.shedule_popup .gym_shedule_popup.auth [data-step=auth] {
  display: block;
}

.gym_shedule_popup {
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  padding: 100px 15px;
  overflow: auto;
  z-index: 100;
  transition: all 0.3s linear;
}
@media screen and (max-width: 767px) {
  .gym_shedule_popup {
    padding: 15px 15px;
  }
}
.gym_shedule_popup .close {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.gym_shedule_popup .close:before, .gym_shedule_popup .close:after {
  content: "";
  width: 20px;
  height: 1px;
  background: #000000;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: calc(50% - 10px);
}
.gym_shedule_popup .close:after {
  transform: rotate(-45deg);
}
.gym_shedule_popup.done .thanks_title,
.gym_shedule_popup.done .thanks_subtitle {
  display: block;
}
.gym_shedule_popup.done .actions {
  display: none;
}
.gym_shedule_popup .inner {
  position: relative;
  padding: 80px 100px 66px;
  background: #FFFFFF;
  max-width: 926px;
  margin: 0 auto;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
}
@media screen and (max-width: 1024px) {
  .gym_shedule_popup .inner {
    padding: 40px 30px;
  }
}
.gym_shedule_popup .inner[data-step=auth] {
  display: none;
  max-width: 658px;
  padding-bottom: 100px;
}
@media screen and (max-width: 1024px) {
  .gym_shedule_popup .inner[data-step=auth] {
    padding-bottom: 40px;
  }
}
.gym_shedule_popup .inner[data-step=auth] .title {
  margin-bottom: 50px;
}
.gym_shedule_popup .inner[data-step=auth] label {
  position: relative;
  display: block;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 36px;
}
.gym_shedule_popup .inner[data-step=auth] label input {
  width: 100%;
  padding: 17px 0px;
  border: none !important;
  border-bottom: 1px solid #000000 !important;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.gym_shedule_popup .inner[data-step=auth] label input:focus-visible {
  outline: none;
}
.gym_shedule_popup .inner[data-step=auth] label .error {
  position: relative;
  color: #E10A17;
  font-size: 12px;
  font-weight: 400;
}
.gym_shedule_popup .inner[data-step=auth] label .error strong {
  color: #E10A17;
}
.gym_shedule_popup .inner[data-step=auth] label .error a {
  font-size: inherit;
}
.gym_shedule_popup .inner[data-step=auth] .actions {
  margin-top: 50px;
  margin-bottom: 80px;
}
@media screen and (max-width: 1024px) {
  .gym_shedule_popup .inner[data-step=auth] .actions {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.gym_shedule_popup .inner[data-step=auth] .actions button {
  display: inline-block;
  width: auto;
  height: 50px;
  background: #FFFFFF;
  color: #E10A17;
  border: 1px solid #E10A17;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  clip-path: unset;
  padding: 0px 15px;
  transition: all 0.3s linear;
  background: #E10A17;
  color: #FFFFFF;
  width: 185px;
}
.gym_shedule_popup .inner[data-step=auth] .actions button:hover {
  background: #E10A17;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.gym_shedule_popup .inner[data-step=auth] .actions button:hover {
  background: #FFFFFF;
  color: #E10A17;
  border-color: #E10A17;
}
@media screen and (max-width: 575px) {
  .gym_shedule_popup .inner[data-step=auth] .actions button {
    width: 100%;
  }
}
.gym_shedule_popup .inner[data-step=auth] .blocks_by_2 {
  border: none;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .gym_shedule_popup .inner[data-step=auth] .blocks_by_2 {
    flex-wrap: wrap;
  }
}
.gym_shedule_popup .inner[data-step=auth] .blocks_by_2 .item {
  padding: 0px;
  border: none;
  text-align: left;
}
.gym_shedule_popup .inner[data-step=auth] .blocks_by_2 .item:first-child {
  width: 60%;
}
@media screen and (max-width: 575px) {
  .gym_shedule_popup .inner[data-step=auth] .blocks_by_2 .item:first-child {
    width: 50%;
    padding-right: 7px;
  }
}
.gym_shedule_popup .inner[data-step=auth] .blocks_by_2 .item:last-child {
  width: 40%;
}
@media screen and (max-width: 575px) {
  .gym_shedule_popup .inner[data-step=auth] .blocks_by_2 .item:last-child {
    width: 50%;
    padding-left: 7px;
  }
}
.gym_shedule_popup .inner[data-step=auth] .blocks_by_2 .item.bold {
  font-weight: 700;
}
.gym_shedule_popup .inner[data-step=auth] a {
  color: #E10A17;
  text-decoration: underline;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 1px;
}
.gym_shedule_popup .time {
  color: #E10A17;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
.gym_shedule_popup .duration {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 35px;
}
.gym_shedule_popup .thanks_title {
  font-family: "Rajdhani", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  display: none;
}
.gym_shedule_popup .thanks_subtitle {
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: normal;
  text-align: center;
  margin-bottom: 30px;
  display: none;
}
.gym_shedule_popup .title {
  font-family: "Rajdhani", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.gym_shedule_popup .description {
  line-height: 1.8;
  padding-bottom: 34px;
  border-bottom: 1px solid #000000;
}
.gym_shedule_popup .blocks_by_2 {
  display: flex;
  border-bottom: 1px solid #000000;
}
@media screen and (max-width: 767px) {
  .gym_shedule_popup .blocks_by_2 {
    flex-wrap: wrap;
  }
}
.gym_shedule_popup .blocks_by_2 .item {
  width: 50%;
  padding: 20px 34px;
}
@media screen and (max-width: 767px) {
  .gym_shedule_popup .blocks_by_2 .item {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media all and (min-width: 768px) {
  .gym_shedule_popup .blocks_by_2 .item:not(:last-child) {
    border-right: 1px solid #000000;
  }
}
@media print {
  .gym_shedule_popup .blocks_by_2 .item:not(:last-child) {
    border-right: 1px solid #000000;
  }
}
@media screen and (max-width: 767px) {
  .gym_shedule_popup .blocks_by_2 .item:not(:last-child) {
    border-bottom: 1px solid #000000;
  }
}
.gym_shedule_popup .blocks_by_2 .item .label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.8;
}
.gym_shedule_popup .blocks_by_2 .item .text {
  line-height: 1.8;
}
.gym_shedule_popup .actions {
  margin-top: 26px;
  text-align: center;
}
.gym_shedule_popup .actions button {
  display: inline-block;
  width: auto;
  height: 50px;
  background: #FFFFFF;
  color: #E10A17;
  border: 1px solid #E10A17;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  clip-path: unset;
  padding: 0px 15px;
  transition: all 0.3s linear;
  width: 145px;
  height: 40px;
  font-weight: 400;
}
.gym_shedule_popup .actions button:hover {
  background: #E10A17;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.gym_shedule_popup button[disabled] {
  position: relative;
  background-color: #79808A !important;
  border-color: #79808A !important;
  font-size: 0px !important;
}
.gym_shedule_popup button[disabled]:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  color: #FFFFFF;
  font-family: dashicons;
  animation: gym_rotate 3s linear infinite;
}

@media screen and (max-width: 600px) {
  body.page-template-calendar.admin-bar {
    margin-top: -46px;
  }
}
body.page-template-calendar .section.wf-section.class-list {
  display: none;
}
body.page-template-calendar header {
  background: #000;
  height: 177px;
}
@media screen and (max-width: 1024px) {
  body.page-template-calendar header {
    height: 76px;
    margin-top: 0px;
  }
}
body.page-template-calendar .main-wrapper {
  padding-top: 177px;
}
@media screen and (max-width: 1024px) {
  body.page-template-calendar .main-wrapper {
    padding-top: 76px;
  }
}
body.page-template-calendar .schedule_head_bar {
  background: #E10A17;
  padding: 24px 0px;
}
@media screen and (max-width: 1024px) {
  body.page-template-calendar .schedule_head_bar {
    padding: 36px 30px 47px;
  }
}
body.page-template-calendar .schedule_head_bar .container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media screen and (max-width: 1024px) {
  body.page-template-calendar .schedule_head_bar .container {
    padding: 0px;
    flex-wrap: wrap;
  }
}
body.page-template-calendar .schedule_head_bar .text {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
}
@media all and (min-width: 768px) {
  body.page-template-calendar .schedule_head_bar .text {
    padding-right: 34px;
  }
}
@media print {
  body.page-template-calendar .schedule_head_bar .text {
    padding-right: 34px;
  }
}
@media screen and (max-width: 1024px) {
  body.page-template-calendar .schedule_head_bar .text {
    padding: 0px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
  }
}
body.page-template-calendar .schedule_head_bar .actions {
  width: 214px;
}
@media screen and (max-width: 1024px) {
  body.page-template-calendar .schedule_head_bar .actions {
    width: 100%;
    text-align: center;
  }
}
body.page-template-calendar .schedule_head_bar .actions button {
  display: inline-block;
  width: auto;
  height: 50px;
  background: #FFFFFF;
  color: #E10A17;
  border: 1px solid #E10A17;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  clip-path: unset;
  padding: 0px 15px;
  transition: all 0.3s linear;
  width: 214px;
}
body.page-template-calendar .schedule_head_bar .actions button:hover {
  background: #E10A17;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
body.page-template-calendar .schedule_calendar {
  font-size: 14px;
}
body.page-template-calendar .schedule_calendar .container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0px 15px;
}
body.page-template-calendar .schedule_calendar h1 {
  color: #000000;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  body.page-template-calendar .schedule_calendar h1 {
    font-size: 30px;
  }
}
body.page-template-calendar .schedule_calendar .subtitle {
  color: #000000;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 15px;
}
body.page-template-calendar .schedule_calendar .schedule_header {
  padding-top: 40px;
  background-color: #F4F4F4;
}
@media screen and (max-width: 767px) {
  body.page-template-calendar .schedule_calendar .schedule_header {
    padding-top: 26px;
  }
}
body.page-template-calendar .schedule_calendar .schedule_header .schedule_days {
  display: flex;
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
  background-color: #F4F4F4;
}
@media screen and (max-width: 767px) {
  body.page-template-calendar .schedule_calendar .schedule_header .schedule_days {
    margin-top: 22px;
    border-top: 1px solid #E10A17;
  }
}
body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item {
  position: relative;
  width: 120px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
}
@media all and (min-width: 768px) {
  body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item {
    padding: 8px 0px 27px;
    border-top: 5px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
}
@media print {
  body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item {
    padding: 8px 0px 27px;
    border-top: 5px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
}
@media screen and (max-width: 1024px) {
  body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item {
    width: 88px;
  }
}
@media screen and (max-width: 767px) {
  body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item {
    padding: 27px 0px;
  }
}
body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item:before, body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item:after {
  content: "";
  display: block;
  width: 61px;
  height: 1px;
  background-color: transparent;
  position: absolute;
  bottom: -6px;
  left: -1px;
  transform: rotate(10deg);
  transition: all 0.3s linear;
}
@media screen and (max-width: 1024px) {
  body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item:before, body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item:after {
    width: 45px;
    bottom: -4px;
  }
}
@media screen and (max-width: 767px) {
  body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item:before, body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item:after {
    display: none;
  }
}
body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item:after {
  left: unset;
  right: -1px;
  transform: rotate(-10deg);
}
@media all and (min-width: 768px) {
  body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item.active, body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item:hover {
    border-color: #000000;
    border-top-color: #E10A17;
    background-color: #FFFFFF;
  }
}
@media print {
  body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item.active, body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item:hover {
    border-color: #000000;
    border-top-color: #E10A17;
    background-color: #FFFFFF;
  }
}
body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item.active:before, body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item.active:after, body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item:hover:before, body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item:hover:after {
  background-color: #000000;
}
body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item.active .month, body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item:hover .month {
  color: #E10A17;
}
body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item.active .day, body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item:hover .day {
  color: #000000;
}
body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item .data {
  color: #E10A17;
  font-family: "Rajdhani", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  transition: all 0.3s linear;
}
body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item .month {
  color: #79808A;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 8px;
  text-transform: uppercase;
  transition: all 0.3s linear;
}
body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .item .day {
  color: #79808A;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  transition: all 0.3s linear;
}
@media screen and (max-width: 767px) {
  body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .desktop {
    display: none;
  }
}
body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .mobile {
  color: #E10A17;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}
@media all and (min-width: 768px) {
  body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .mobile {
    display: none;
  }
}
@media print {
  body.page-template-calendar .schedule_calendar .schedule_header .schedule_days .mobile {
    display: none;
  }
}
body.page-template-calendar .schedule_calendar .schedule_header .slick-arrow {
  clip-path: unset;
  background: transparent;
  width: 45px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  z-index: 1;
  text-indent: -999px;
  overflow: hidden;
}
body.page-template-calendar .schedule_calendar .schedule_header .slick-arrow:before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  border: solid #000000;
  border-width: 0 0px 2px 2px;
  display: block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}
body.page-template-calendar .schedule_calendar .schedule_header .slick-arrow.slick-next {
  left: unset;
  right: 0px;
}
body.page-template-calendar .schedule_calendar .schedule_header .slick-arrow.slick-next:before {
  border-width: 2px 2px 0 0;
}
body.page-template-calendar .schedule_calendar .schedule_header .slick-arrow.slick-disabled:before {
  border-color: #79808A;
}
body.page-template-calendar .schedule_calendar .schedule_list {
  padding: 73px 0px 115px;
}
body.page-template-calendar .schedule_calendar .schedule_list .item_list {
  display: none;
}
body.page-template-calendar .schedule_calendar .schedule_list .item_list.active {
  display: block;
}
body.page-template-calendar .schedule_calendar .schedule_list .item_list .not_found {
  text-align: center;
  font-size: 22px;
  color: #000000;
}
body.page-template-calendar .schedule_calendar .schedule_list .item {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  color: #000000;
  border-bottom: 1px solid #000000;
  line-height: 1.1;
}
@media screen and (max-width: 767px) {
  body.page-template-calendar .schedule_calendar .schedule_list .item:last-child {
    border-bottom: none;
  }
}
body.page-template-calendar .schedule_calendar .schedule_list .item .block_1 {
  display: flex;
  align-items: center;
  width: calc(100% - 20% - 145px);
}
@media screen and (max-width: 767px) {
  body.page-template-calendar .schedule_calendar .schedule_list .item .block_1 {
    width: calc(100% - 100px);
    flex-wrap: wrap;
  }
}
body.page-template-calendar .schedule_calendar .schedule_list .item .block_2 {
  display: flex;
  align-items: center;
  width: calc(20% + 145px);
}
@media screen and (max-width: 767px) {
  body.page-template-calendar .schedule_calendar .schedule_list .item .block_2 {
    width: 100px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
body.page-template-calendar .schedule_calendar .schedule_list .item .time {
  color: #E10A17;
  font-size: 16px;
  font-weight: 700;
  width: 18%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  body.page-template-calendar .schedule_calendar .schedule_list .item .time {
    text-align: left;
    font-size: 14px;
    width: 65px;
  }
}
body.page-template-calendar .schedule_calendar .schedule_list .item .duration {
  color: #E10A17;
  font-size: 16px;
  font-weight: 400;
  width: 13%;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  body.page-template-calendar .schedule_calendar .schedule_list .item .duration {
    width: 35%;
  }
}
@media screen and (max-width: 767px) {
  body.page-template-calendar .schedule_calendar .schedule_list .item .duration {
    text-align: left;
    font-size: 14px;
    width: calc(100% - 65px);
  }
}
body.page-template-calendar .schedule_calendar .schedule_list .item .title {
  width: calc(100% - 18% - 13%);
  text-align: left;
  padding-left: 80px;
}
@media screen and (max-width: 1024px) {
  body.page-template-calendar .schedule_calendar .schedule_list .item .title {
    width: calc(100% - 18% - 35%);
    padding-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  body.page-template-calendar .schedule_calendar .schedule_list .item .title {
    width: 100%;
    padding-left: 0px;
    margin-top: 12px;
  }
}
body.page-template-calendar .schedule_calendar .schedule_list .item .title .name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}
@media screen and (max-width: 767px) {
  body.page-template-calendar .schedule_calendar .schedule_list .item .title .name {
    margin-bottom: 4px;
  }
}
body.page-template-calendar .schedule_calendar .schedule_list .item .title .categories {
  font-size: 14px;
  font-weight: 400;
}
body.page-template-calendar .schedule_calendar .schedule_list .item .left {
  font-size: 16px;
  font-weight: 400;
  width: calc(100% - 145px);
  text-align: center;
}
@media screen and (max-width: 767px) {
  body.page-template-calendar .schedule_calendar .schedule_list .item .left {
    width: 100%;
    font-size: 14px;
    order: 2;
  }
}
body.page-template-calendar .schedule_calendar .schedule_list .item .actions {
  width: 145px;
}
@media screen and (max-width: 767px) {
  body.page-template-calendar .schedule_calendar .schedule_list .item .actions {
    width: 100%;
    margin-bottom: 10px;
    order: 1;
  }
}
body.page-template-calendar .schedule_calendar .schedule_list .item .actions button.book {
  display: inline-block;
  width: auto;
  height: 50px;
  background: #FFFFFF;
  color: #E10A17;
  border: 1px solid #E10A17;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  clip-path: unset;
  padding: 0px 15px;
  transition: all 0.3s linear;
  width: 100%;
  font-size: 16px;
}
body.page-template-calendar .schedule_calendar .schedule_list .item .actions button.book:hover {
  background: #E10A17;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  body.page-template-calendar .schedule_calendar .schedule_list .item .actions button.book {
    font-size: 14px;
    font-weight: 400;
    height: 40px;
  }
}
body.page-template-calendar .schedule_calendar .schedule_list .item .actions button.book:hover {
  border-color: #E10A17;
}

@-moz-keyframes gym_rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes gym_rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes gym_rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=schedule.css.map */
