@import "../config/vars";
@import "../config/mixins";

@layer components {
	.about-us-advanced_content {
		@apply text-black
		text-center
		text-[40px]
		font-bold
		uppercase
		leading-[1.1]
		mb-[43px];

		.card-room {
			padding-top: 61px;
			padding-bottom: 52px;

			&:nth-child(2n) {
				position: relative;
				background-color: #F9F9F9;

				&:before,
				&:after {
					content: "";
					position: absolute;
					top: 0px;
					right: 100%;
					display: block;
					width: 100vw;
					height: 100%;
					background-color: #F9F9F9;
				}

				&:after {
					right: unset;
					left: 100%;
				}
			}

			&:nth-child(2n+1) {
				flex-direction: row-reverse;
			}
		}
	}
}
