@layer components {
    .account-section {
        @apply bg-white pt-[92px] lg:pt-[148px] pb-[70px] lg:pb-[100px];
    }

    body.woocommerce-lost-password,
    body.page-template-page-login {
        .account-section {
            @apply bg-white pt-[38px] lg:pt-[65px] px-[30px];

            .container {
                @apply mx-auto max-w-[945px] px-[0px] text-center;
            }

            .account-wrap {
                @apply w-full;
            }

            .welcome-text {
                @apply text-[30px] w-full;
            }

            .account-content {
                @apply mt-[20px] lg:mt-[40px] text-left mb-[48px] lg:mb-[63px] sm:text-center text-[15px] lg:text-[20px];
            }

            .mp_wrapper {
                @apply last:max-w-[unset];
            }

            #mepr_loginform label {
                @apply text-[14px] font-bold;
            }

            .mp-form-label {
                @apply text-left;
            }

            input[type="text"],
            input[type="password"] {
                @apply p-0 h-[50px] normal-case font-privacy text-[16px];

                &::placeholder {
                    @apply font-normal;
                }
            }

            [type="submit"] {
                @include button_red;
                @apply cursor-pointer w-full sm:w-[185px] font-normal float-right m-0;
            }

            .form-row-first,
            .form-row-last {
                @apply text-[16px] font-privacy font-normal mb-[50px];

                @media screen and (min-width:576px) {
                    width:47% !important;
                }

                &.bold {
                    @apply font-bold;
                }

                &.submit {
                    @apply text-center mb-[30px] sm:mb-[50px];
                }

                &.forgot_password_block {
                    @apply text-center sm:text-left mb-[30px] sm:mb-[50px];
                }

                a {
                    @apply font-privacy text-[16px] font-normal underline;
                    color:$color_red;

                    &:hover {
                        text-decoration:none;
                    }

                    &.forgot_password {
                        @apply leading-[20px] sm:leading-[50px];
                    }
                }
            }

            .form-row-first {
                @apply float-left text-right;

                &.no_account {
                    @apply text-left sm:text-right;

                    @media screen and (max-width:575px) {
                        width:calc(100% - 75px) !important;
                    }
                }
            }

            .form-row-last {
                @apply float-right text-left;

                &.no_account {
                    @apply text-right sm:text-left;

                    @media screen and (max-width:575px) {
                        width:75px !important;
                    }
                }
            }

            .mp-spacer {
                clear:both;
            }
        }
    }

    .qr-code {
        @apply w-[176px] h-[176px] mb-[20px] lg:mb-0 lg:mr-[50px];
    }

    .qr-code img {
        box-shadow:none !important;
    }

    .account-head {
        @apply flex flex-col items-center lg:flex-row max-w-[900px] w-full ml-auto mr-0 justify-start;
    }

    .account-wrap {
        @apply flex flex-col justify-center lg:justify-start text-center lg:text-left;
    }

    .account-name {
        @apply text-[40px] text-panther-red-100 font-bold leading-[1.1] uppercase text-center lg:text-left;
    }

    .welcome-text {
        @apply text-[40px] text-black font-bold leading-[1.1] uppercase text-center lg:text-center;
    }

    .account-content {
        @apply text-[20px] font-privacy mt-[18px] lg:mt-[32px] text-left max-w-[900px] w-full mb-[53px] lg:mb-[57px] ml-auto mr-0;

        span {
            @apply text-panther-red-100;
        }
    }

    .account-block {
        @apply flex flex-col gap-[45px] lg:gap-[160px] items-center justify-start lg:flex-row lg:items-start w-full lg:pl-[50px];
    }

    #mepr-account-nav {
        @apply flex flex-col text-center lg:text-left text-[20px] leading-[2.4] uppercase font-bold text-black;
    }

    .mepr-nav-item {
        @apply m-0 p-0;
    }

    .mepr-active-nav-tab {
        @apply text-panther-red-100;
    }

    .mp_wrapper {
        @apply last:w-full last:max-w-[900px] last:text-center;
    }

    .mp_wrapper .mepr-account-change-password {
        @apply text-center text-panther-red-100;
    }

    .mp_wrapper .mepr-unauthorized-message {
        @apply hidden font-privacy text-black font-normal;
    }

    .mp_wrapper .mepr-login-actions {
        @apply font-privacy text-black font-normal;
    }

    .mp_wrapper button,
    [type='button'],
    [type='reset'],
    [type='submit'] {
        @apply text-white uppercase text-[20px] font-bold font-base tracking-[1.2px] bg-panther-red-100 bg-no-repeat bg-center bg-cover py-[17px] px-[47px] block w-fit mx-auto;
        clip-path:polygon(6% 0%, 100% 0%, 94% 100%, 0% 100%);
    }

    .mp_wrapper textarea,
    .mp_wrapper select,
    .mp_wrapper input[type=text],
    .mp_wrapper input[type=url],
    .mp_wrapper input[type=email],
    .mp_wrapper input[type=tel],
    .mp_wrapper input[type=number],
    .mp_wrapper input[type=password] {
        @apply py-[8px] px-0 uppercase text-[20px] font-bold text-black font-base leading-[1.1] border-t-0 border-l-0 border-r-0 border-b-[1px] border-black bg-transparent;
    }

    .mp_wrapper .mp-form-row {
        @apply mb-[20px] lg:mb-[28px]
    }

    .mp-form-label {
        @apply text-[16px] leading-[1.1] font-privacy text-black font-normal;
    }


    #mepr_loginform label {
        @apply flex items-center font-privacy;
    }

    #mepr_loginform [name="rememberme"] {
        @include checkbox;
    }

    .mp_wrapper table.mepr-account-table {
        border:none !important;
    }

    .mp_wrapper table.mepr-account-table thead tr {
        border-radius:2px;
        border:1px solid #000 !important;
    }

    .mp_wrapper table.mepr-account-table th {
        @apply py-[17px] pl-[15px] lg:pl-[36px] text-left text-[20px] font-bold leading-[1.1] uppercase;
    }

    .mp_wrapper table.mepr-account-table td {
        @apply pt-[15px] pl-[15px] lg:pt-[31px] lg:pl-[36px] text-left border-none font-privacy font-bold;
    }

    .mp_wrapper table.mepr-account-table tr {
        @apply pr-[10px] border-none;
    }

    .mp_wrapper table.mepr-account-table .mepr-account-actions a {
        @apply text-[16px] font-privacy font-bold leading-[1.1] text-center inline-flex items-center justify-center text-panther-red-100;
    }
}