@layer components {
	body {
		@apply overflow-x-hidden;
	}

	.item-link {
		@apply text-white uppercase text-[18px] leading-[1.6] font-bold lg:hover:text-panther-red-100 transition-colors duration-[0.2s] ease-in;
	}

	.footer-item-link {
		@apply text-white uppercase text-[16px] leading-[32px] font-normal;
	}

	.work-day {
		@apply text-white uppercase text-[16px] leading-[32px] font-normal min-w-[120px];
	}

	.open-time {
		@apply text-[#646464] text-[16px] leading-[32px] font-normal;
	}

	.header-menu {
		@apply flex flex-col gap-[20px] lg:flex-row lg:gap-[0px] text-white lg:justify-end;
		font-family: 'Rajdhani', sans-serif;

		.item-link {
			@apply flex lg:py-[22px] lg:px-[27px] lg:whitespace-nowrap;

			&:hover {
				@apply lg:bg-white/[.07];
			}
		}

		.item_menu.active {
			@apply lg:bg-white/[.07];
		}
	}

	.cart-block .cart--link.w-inline-block {
		@apply flex flex-row gap-[9px] items-center;
		#cart-count {
			@apply text-white text-[12px] leading-[1.6] uppercase font-bold min-w-[15px] h-[15px] rounded-[50%] flex items-center justify-center bg-panther-red-100;
		}
	}

	div.navbar {
		background-color: #FFF !important;
	}

	.header-menu .has_submenu {
		&:hover {
			.nav-sub-menu {
				@apply hidden lg:flex top-[0px] lg:top-[calc(100%-1px)] opacity-100;
			}
		}

		&.active {
			.nav-sub-menu {
				@apply block lg:hidden pl-[15px] lg:pl-0;
			}

			&:hover {
				.nav-sub-menu {
					@apply lg:flex;
				}
			}
		}

		.nav-sub-menu {
			@apply hidden items-center lg:h-[60px] lg:absolute top-full w-auto lg:fixed lg:bg-white lg:border-t-[3px] border-[#E10A17] rounded-none;

			&:before {
				@apply hidden lg:block content-[""] h-[calc(100%+3px)] lg:top-[-3px] w-[100vw] absolute lg:right-full bg-white lg:border-t-[3px] border-[#E10A17];
			}

			&:after {
				@apply hidden lg:block content-[""] h-[calc(100%+3px)] lg:top-[-3px] w-[100vw] absolute lg:left-full bg-white lg:border-t-[3px] border-[#E10A17];
			}

			a.item-link {
				@apply lg:h-full lg:px-[15px] lg:py-[0px];

				&.w--current {
					@apply text-white lg:text-[#E10A17];
				}
			}
		}
	}
}

.menu-open .nav-js {
	transform: translateX(0);
}
