@layer components {
	.item-link {
		@apply text-white uppercase text-[18px] leading-[1.6] font-bold lg:hover:text-panther-red-100 transition-colors duration-[0.2s] ease-in;
	}

	.footer-item-link {
		@apply text-white uppercase text-[16px] leading-[32px] font-normal;
	}

	.work-day {
		@apply text-white uppercase text-[16px] leading-[32px] font-normal min-w-[120px];
	}

	.open-time {
		@apply text-[#646464] text-[16px] leading-[32px] font-normal;
	}

	.header-menu {
		@apply flex flex-col gap-[20px] lg:flex-row lg:gap-[0px] text-white lg:justify-end;
		font-family: 'Rajdhani', sans-serif;

		.item-link {
			@apply flex lg:py-[22px] lg:px-[27px] lg:whitespace-nowrap;

			&:hover {
				@apply lg:bg-white/[.07];
			}
		}

		.item_menu.active {
			@apply lg:bg-white/[.07];
		}
	}

	.cart-block .cart--link.w-inline-block {
		@apply flex flex-row gap-[9px] items-center;
		#cart-count {
			@apply text-white text-[12px] leading-[1.6] uppercase font-bold min-w-[15px] h-[15px] rounded-[50%] flex items-center justify-center bg-panther-red-100;
		}
	}

	.nav-sub-menu {
		@apply hidden items-center h-auto lg:h-[60px] relative;

		&.active {
			@apply block lg:flex w-full lg:w-auto top-[0px] lg:top-full pl-[15px] lg:pl-0;
		}

		&:before {
			@apply hidden lg:block content-[""] h-full w-[100vw] absolute lg:right-full bg-white;
		}

		&:after {
			@apply hidden lg:block content-[""] h-full w-[100vw] absolute lg:left-full bg-white;
		}

		a.item-link {
			@apply lg:h-full lg:px-[15px] lg:py-[0px];

			&.current {
				color: $color_red;
			}
		}
	}
}

.menu-open .nav-js {
	transform: translateX(0);
}
